.menu-item {
  text-transform: uppercase;
}

@media( min-width: 911px ) {
  .menu-item-wrap {
    height: 100%;
  }
  .menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
  }

  .menu-item span {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  
  .menu-item-wrap:hover span {
    border-bottom: 1px solid #000;
  }
}
