.search-panel-form {
  position: absolute;
  top: 5em;
  width: calc(100% - 4em);
}

.search-panel-form input[type="text"] {
  width: 100%;
  padding: 1em 0.5em;
  margin-right: 0.5em;
  border-bottom: 2px solid #333;
}
.search-panel-form input[type="text"]::placeholder {
  color: #333;
}

.search-panel-form input[type="submit"] {
  display: block;
  margin-top: 1em;
  padding: calc(1em + 4px) 2em;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.45);
  transition: all 0.2s ease;
}

@media(min-width: 911px) {
  .search-panel-form {
    top: initial;
    width: initial;
  }

  .search-panel-form input[type="text"] {
    width: 30em;
    padding: 1em 0.5em;
    margin-right: 0.5em;
    border-bottom: 2px solid #333;
  }

  .search-panel-form input[type="submit"] {
    display: inline-block;
    margin-top: 0;
  }

  .search-panel-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #000;
    box-shadow: none;
  }
}
