@media( min-width: 911px ) {
  .search-panel {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 2em;
    transition: all 0.5s ease;
    z-index: 9999;
  }

  .search-panel.collapsed {
    top: -6em;
    height: 0;
  }

  .search-panel-exit {
    position: absolute;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: url('../../assets/close.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .search-panel-exit:hover {
    cursor: pointer;
  }
}
